body{
    font-family: 'IBM Plex Mono', monospace;
}

a{
    text-decoration: none;
    color: unset;
}

/*Fonts and Colors*/
.white{
    color: #fff;
}

.black{
    color: #000;
}

.blue{
    color: #234EF3;
}

.blue-bg{
    background: linear-gradient(105.1deg, #001F94 -0.11%, #1A3FCF 77.87%);
}

.box-shadow{
    box-shadow: 0px 0px 5px #000000;
}

p{
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.04em;
}

li{
    list-style-type: none;
}

/*Rows and Columns*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%;
}
.col-100{
    max-width: 100%;
    flex: 0 0 100%;  
}

.col-55{
    max-width: 55%;
    flex: 0 0 55%;
}

.col-45{
    max-width: 45%;
    flex: 0 0 45%;  
}

/*alignment*/
.middle-align {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*Site Style*/

/*Header*/
.main-nav{
    margin-bottom: 5rem;
    margin-top: 3rem;
    letter-spacing: 0.04em;
    font-size: 22px;
}

.main-menu{
    display: flex;
    margin-left: auto;

    li{
        margin-left: 3rem;
    }
}



.primary{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
}

.bottom-border-black{
    border-bottom: solid #000 6px;
    width: max-content;
}

.bottom-border-blue{
    border-bottom: solid #234EF3 6px;
    width: max-content;
}

.bottom-border-white{
    border-bottom: solid #fff 6px;
    width: max-content;
}

.spc-border-bottom{
    padding-bottom: 20px;
}

.spc-border-top{
    margin-top: 30px;
}

.padding-50{
    padding: 50px 0;
}

.margin-top{
    margin-top: -100px;
}

.row-spc-top{
    margin-top: 5rem;
}

.row-spc-bottom{
    margin-bottom: 5rem;
}

/*Cards*/
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 31%;
    background: #C4C4C4;
    min-height: 360px;
    margin: 0 0 2% 0;
}

.card:nth-child(2), .card:nth-child(5) {
    margin: 0 2% 2% 2%;
}