/* 
Main Stylesheet for kylehuffling.com
*/

/*
Colors and Text
*/
:root {
    --main-color: #234EF3;
    --accent-color: #001F94;
    --black: #000;
    --white: #fff;
  }

body{
    font-family: 'IBM Plex Mono', monospace;
}

h1, h2{
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.03em;
}

.white{
    color: var(--white);
}

.black{
    color: var(--black);
}

.primary{
    color: var(--main-color)
}

.gradient{
    background: linear-gradient(105.1deg, #001F94 -0.11%, rgba(0, 47, 227, 0.48) 76.24%);
}

.box-shadow{
    box-shadow: 0px 0px 5px #000000;
}

.container{
    max-width: 1180px;
}